html {
  font-size: 18pt;
}

h1 {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}

p {
  font-size: 1rem;
  text-align: justify;
  text-justify: inter-word;
}

a {
  color: black;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}

img {
  height: 1rem;
}

.h1 {
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
}

.h2 {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}

.h3 {
  font-size: .75rem;
  font-weight: bold;
  text-align: center;
}

.hr1 {

}

.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.div1 {
  display: grid;
  margin-top: 1rem;
}

.div2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.div3 {
  display: none
}

.div6 {
  display: flex;
  gap: .5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.div7 {
  display: flex;
  justify-content: center;
}

/*
.div8 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.div8b {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.div8f {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.div8z {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
  */

.div8 {
  display: flex;

}

.div8b {
  display: flex;

}

.div8f {
  display: flex;
}

.div8z {
  display: flex;
}

.div9 {
  display: flex;
  gap: .5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.div10 {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: .75rem;
}

.a1 {
  color: black;
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.a2 {
 display: none;
}

.a3 {
  color: black;
  font-size: .75rem;
  text-decoration: none;
  text-align: center;
}

.img1 {
  height: 2rem;
}

.img2 {
  display: none;
}

.img3 {
  height: .75rem;
}

.img4 {
  flex-basis: 18rem;
  margin: .5rem auto;
}

.img44 {
  flex-basis: 6rem;
  margin: .5rem auto;
}

.img4b {
  height: 12rem;
}

.img4f {
  height: 12rem;
}

.img4z {
  flex-basis: 18rem;
  margin: .5rem auto;
}

.a22 {
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
}

.img11 {
  display: none;
}

.img22 {
  height: 1.5rem;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: 36pt;
  }
  
  h1 {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
  }
  
  p {
    font-size: 1rem;
    text-align: justify;
    text-justify: inter-word;
  }
  
  a {
    color: black;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
  }
  
  img {
    height: 1rem;
  }
  
  .h1 {
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
  }

  .h2 {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
  }

  .h3 {
    font-size: .75rem;
    font-weight: bold;
    text-align: center;
  }

  .hr1 {
    border-width: 0;
  }

  .poiret-one-regular {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .div1 {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 1rem;
  }
  
  .div2 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
  
  .div3 {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  
  .div6 {
    display: none
  }
  
  .div7 {
    display: flex;
    justify-content: center;
  }

  /*
  .div8 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  .div8b {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }
 
  .div8f {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }
  
  .div8z {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }
    */

  .div8 {
    display: flex;
  
  }
  
  .div8b {
    display: flex;
  
  }
  
  .div8f {
    display: flex;
  }
  
  .div8z {
    display: flex;
  }

  .div9 {
    display: flex;
    gap: .5rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .div10 {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: .75rem;
  }

  .a1 {
    color: black;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
  }
  
  .a2 {
   display: none;
  }
  
  .a3 {
    color: black;
    font-size: .75rem;
    text-decoration: none;
    text-align: center;
  }

  .img1 {
    height: 2rem;
  }
  
  .img2 {
    display: none;
  }
  
  .a22 {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .img11 {
    display: none;
  }
  
  .img22 {
    height: 1.5rem;
  }

  .img4 {
    flex-basis: 12rem;
    margin: .25rem auto;
  }

  .img44 {
    flex-basis: 4rem;
    margin: .25rem auto;
  }

  .img4b {
    height: 8rem;
  }

  .img4f {
    height: 8rem;
  }

  .img4z {
    flex-basis: 12rem;
    margin: .25rem auto;
  }
}