html {
  font-size: 18pt;  
}

body {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='33' height='30' patternTransform='scale(3) rotate(20)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M0 22.5h30v15H0zm15-15h30v15H15m-30-15h30v15h-30zm15-15h30v15H0z' transform='translate(1.5,0)' stroke-width='1' stroke='hsla(215,77.4%,89.6%,1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-93,-66)' fill='url(%23a)'/></svg>")
}

h1 {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}

p {
  font-size: 1rem;
  text-align: justify;
  text-justify: inter-word;
}

a {
  color: black;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}

img {
  height: 1rem;
}

.h1 {
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
}

.h2 {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}

.h3 {
  font-size: .75rem;
  font-weight: bold;
  text-align: center;
}

.hr1 {

}

.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.div1 {
  display: grid;
  margin-top: 1rem;
}

.div2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.div3 {
  display: none
}

.div6 {
  display: flex;
  gap: .5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.div7 {
  display: flex;
  justify-content: center;
}

.div8 {
  display: inline-flex;
  flex-direction: column;
  gap: .25rem;
  justify-content: center;
}

.div8a {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
  justify-content: center;
}

.div8b {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
  justify-content: center;
}

.div8c {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
  justify-content: center;
}

.div8d {
  display: inline-flex;
  flex-direction: column;
  gap: .25rem;
  justify-content: center;
}

.div8e {
  display: inline-flex;
  flex-direction: column;
  gap: .25rem;
  justify-content: center;
}

.div8f {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
  justify-content: center;
}

.div8g {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
  justify-content: center;
}

.div8z {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
  justify-content: center;
}

.div9 {
  display: flex;
  gap: .5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.div10 {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: .75rem;
}

.a1 {
  color: black;
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.a2 {
 display: none;
}

.a3 {
  color: black;
  font-size: .75rem;
  text-decoration: none;
  text-align: center;
}

.img1 {
  height: 2rem;
}

.img2 {
  display: none;
}

.img3 {
  height: .75rem;
}

.img4 {
  flex-basis: 12rem;
  margin: 0 auto;
}

.img44 {
  flex-basis: 4rem;
  margin: 0 auto;
}

.img4a {
  height: 24rem;
}

.img4b {
  height: 24rem;
}

.img4c {
  height: 36rem;
}

.img4d {
  flex-basis: 8rem;
  margin: 0 auto;
}

.img4e {
  height: 24rem;
}

.img4f {
  height: 12rem;
}

.img4g {
  height: 12rem;
}

.img4gg {
  height: 8rem;
}

.img4z {
  height: 12rem;
}

.a22 {
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
}

.img11 {
  display: none;
}

.img22 {
  height: 1.5rem;
}



form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

label {display: block;}

input[type=text], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}




@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: 36pt;    
  }
  
  body {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='33' height='30' patternTransform='scale(3) rotate(20)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M0 22.5h30v15H0zm15-15h30v15H15m-30-15h30v15h-30zm15-15h30v15H0z' transform='translate(1.5,0)' stroke-width='1' stroke='hsla(215,77.4%,89.6%,1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-93,-66)' fill='url(%23a)'/></svg>")
  }

  h1 {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
  }
  
  p {
    font-size: 1rem;
    text-align: justify;
    text-justify: inter-word;
  }
  
  a {
    color: black;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
  }
  
  img {
    height: 1rem;
  }
  
  .h1 {
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
  }

  .h2 {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
  }

  .h3 {
    font-size: .75rem;
    font-weight: bold;
    text-align: center;
  }

  .hr1 {
    border-width: 0;
  }

  .poiret-one-regular {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .div1 {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 1rem;
  }
  
  .div2 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
  
  .div3 {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  
  .div6 {
    display: none
  }
  
  .div7 {
    display: flex;
    justify-content: center;
  }

  .div8 {
    display: inline-flex;
    flex-direction: column;
    gap: .25rem;
  }
  
  .div8a {
    display: inline-flex;
    flex-direction: column;
    gap: .25rem;
  }

  .div8b {
    display: inline-flex;
    flex-direction: column;
    gap: .25rem;
  }

  .div8c {
    display: inline-flex;
    flex-direction: column;
    gap: .25rem;
  }

  .div8d {
    display: inline-flex;
    flex-direction: column;
    gap: .25rem;
  }

  .div8e {
    display: inline-flex;
    flex-direction: column;
    gap: .25rem;
  }
  
  .div8f {
    display: inline-flex;
    flex-direction: column;
    gap: .25rem;
  }

  .div8g {
    display: inline-flex;
    flex-direction: column;
    gap: .25rem;
  }
  
  .div8z {
    display: inline-flex;
    flex-direction: column;
    gap: .25rem;
  }

  .div9 {
    display: flex;
    gap: .5rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .div10 {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: .75rem;
  }

  .a1 {
    color: black;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
  }
  
  .a2 {
   display: none;
  }
  
  .a3 {
    color: black;
    font-size: .75rem;
    text-decoration: none;
    text-align: center;
  }

  .img1 {
    height: 2rem;
  }
  
  .img2 {
    display: none;
  }
  
  .a22 {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .img11 {
    display: none;
  }
  
  .img22 {
    height: 1.5rem;
  }

  .img4 {
    flex-basis: 12rem;
    margin: 0 auto;
  }

  .img44 {
    flex-basis: 4rem;
    margin: 0 auto;
  }

  .img4a {
    flex-basis: 24rem;
    margin: 0 auto;
  }

  .img4b {
    flex-basis: 24rem;
    margin: 0 auto;
  }

  .img4c {
    flex-basis: 36rem;
    margin: 0 auto;
  }

  .img4d {
    flex-basis: 8rem;
    margin: 0 auto;
  }

  .img4e {
    flex-basis: 24rem;
    margin: 0 auto;
  }

  .img4f {
    flex-basis: 12rem;
    margin: 0 auto;
  }

  .img4g {
    flex-basis: 12rem;
    margin: 0 auto;
  }

  .img4gg {
    flex-basis: 8rem;
    margin: 0 auto;
  }

  .img4z {
    flex-basis: 12rem;
    margin: 0 auto;
  }

  form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  label {display: block;}

  input[type=text], select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }








}